<h1>Hi
  <%= name %>
</h1>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCovid</title>
  <link rel="stylesheet" href="css/bootstrap.css">

  <style>
    [class*='col'] {
      padding: 1rem;
      background-color: #5869ca;
      border: 2px solid #fff;
      color: #fff;
    }
  </style>

  <style>
    [class*='container-sm border'] {
      max-width: 540px;
      margin-top: 10rem;
      padding: 1rem;
      border-radius: 1.5%;
    }
  </style>

</head>

<body>
  <div class="container-md">
    <div class="text-center col">
      <h2 class="display-5">iCovid</h2>

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">1</button>
        <button type="button" class="btn btn-primary">2</button>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Map</a></li>
            <li><a class="dropdown-item" href="#">User Settings</a></li>

            <li><hr class="dropdown-divider"></li>

            <form action="/logout?_method=DELETE" class="dropdown-item" method="POST">
              <button type="submit">Log Out</button>
            </form>

          </ul>
        </div>
      </div>
    </div>


    <!-- <div class="container text-center">
      <div class="row">
        <div class="col">
          Column
        </div>
        <div class="col">
          Column
        </div>
        <div class="col">
          Column
        </div>
      </div>
    </div> -->





    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </div>

  <script src="js/bootstrap.bundle.js "></script>
</body>
