<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCovid</title>
    <link rel="stylesheet" href="css/bootstrap.css">

    <style>
        [class*='col'] {
            padding: 1rem;
            background-color: #5869ca;
            border: 2px solid #fff;
            color: #fff;
        }
    </style>

    <style>
        [class*='container-sm border'] {
            max-width: 540px;
            margin-top: 10rem;
            padding: 1rem;
            border-radius: 1.5%;
        }
    </style>
</head>

<body>
    <form action="/register" method="POST">
        <div class="container-md">
            <div class="text-center col">
                <h2 class="display-5">iCovid</h2>
            </div>
            <div class="container-sm border">
                <h2 class="text-center display-8">Register</h2>
                <div class="form-floating mb-3">
                    <input type="username" class="form-control" id="username" name="username" placeholder="Username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="mail" class="form-control" id="mail" name="mail" placeholder="name@example.com">
                    <label for="mail">Email Address</label>
                </div>
                <div class="text-center d-grid gap-2 d-md-block">
                    <button class="btn btn-outline-primary" type="submit">Register</button>
                </div>
                <div class="text-center d-grid gap-2 d-md-block">
                    <a class="btn btn-link" href="login" type="button">Already a member? <br> Login here</a>
                </div>

            </div>
        </div>
    </form>

    <script src="js/bootstrap.bundle.js "></script>
</body>

</html>