<!-- <h1>Hi
  <%= name %>
</h1> -->


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

  <title>iCovid</title>

  <style>
    [class*='col'] {
      padding: 1rem;
      background-color: #5869ca;
      border: 2px solid #d0d0d0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      color: #fff;
    }
  </style>

  <style>
    [class*='container-sm border'] {
      max-width: 540px;
      margin-top: 10rem;
      padding: 1rem;
      border-radius: 1.5%;
    }
  </style>

  <style>
    #map {
      border: 2px solid #d0d0d0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 100%;
      height: 70vh;
    }
  </style>

  <style>
    img {
      width: 150px;
      margin-bottom: 15px;
      position:
    }
  </style>

</head>

<body>
  <div class="container-md">
    <div class="text-center col">
      <a href="index">
        <img src="covid4.png">
      </a>
      <!-- <h2 class="display-5">iCovid</h2> -->

      <div class="container overflow-hidden text-center">
        <div class="row">
          <div class="col-6 order-first">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Search">
          </div>
          <div class="col">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Καταχώρηση</button>
            </div>
          </div>
          <div class="col">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Δήλωση</button>
            </div>
          </div>
          <div class="col order-last">
            <div class="d-grid gap-2">
              <!-- <button class="btn btn-primary" href="user_settings.ejs" type="button">Επιλογές Χρήστη</button> -->
              <a class="btn btn-primary" href="user_settings" role="button">Επιλογές Χρήστη</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container text-center">
          <div class="row">
            <div class="col order-second">
              Change Password
              <input type="password" class="form-control" id="inputPassword" placeholder="Current Password">
              <input type="password" class="form-control" id="inputPassword" placeholder="New Password">
              <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
              <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </div>
            <div class="col order-first">
              Change Username
              <input type="password" class="form-control" id="inputPassword" placeholder="Current Username">
              <input type="password" class="form-control" id="inputPassword" placeholder="New Username">
              <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Username">
              <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </div>
            <div class="col order-last">
              Visit History
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>


    <script src="js/bootstrap.bundle.js "></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</body>
